.Search {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 14px -2px rgba(34, 60, 80, 0.2);
  left: 50%;
  padding: 1rem;
  position: absolute;
  top: 2rem;
  transform: translateX(-50%);

  .InputBox {
    width: 20rem !important;
  }

  .SelectBox {
    width: 7rem;
  }
}
